source__*
z-tmp__*

.vscode/

# OS files
.DS_Store


## R --------------------------------------------------------------------------
## see also https://github.com/github/gitignore/blob/main/R.gitignore

# History files
.Rhistory
.Rapp.history

# Session data files
.RData
.RDataTmp

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R Markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron


## ----------------------------------------------------------------------------
