# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# update versions with: `pre-commit autoupdate`
# run without commit: `pre-commit run --all-files`
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
